export VCAP_SERVICES='{"aws-s3-cf-service-broker":[{"name":"from-bucket","label":"aws-s3-cf-service-broker","tags":["s3","object-storage"],"plan":"basic","credentials":{"bucket":"cloud-foundry-328379a7-98e9-498b-a765-f3b7d0549467","access_key_id":"AKIAIN6XH2S6RL2GVUJA","secret_access_key":"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","username":"cloud-foundry-s3-99c4e83c-5b1e-45c6-8354-69332bdb45f0"}},{"name":"to-bucket","label":"aws-s3-cf-service-broker","tags":["s3","object-storage"],"plan":"basic","credentials":{"bucket":"cloud-foundry-8fd81a5a-e7ef-4ea7-985c-d3b7ec74324a","access_key_id":"AKIAI35XVV5QC4RLYVEA","secret_access_key":"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","username":"cloud-foundry-s3-a3ab343e-ec07-4d89-97c5-238195be306b"}}]}'
export VCAP_APPLICATION='{"application_id":"68347fe9-66ab-476c-b6a9-8e201d22566c","application_name":"migrate-s3-bucket","application_uris":["migrate-s3-bucket.apps.vsphere.starkandwayne.com"],"application_version":"e2a0f59c-4e5f-403d-a563-bd9725e7072a","host":"0.0.0.0","instance_id":"e5be3135-c04a-4381-703b-0d4ab796b23c","instance_index":0,"limits":{"disk":1024,"fds":16384,"mem":1024},"name":"migrate-s3-bucket","port":8080,"space_id":"20e29efe-9bdb-459f-bf1e-e1910cdf10a5","space_name":"test-bucket-migration","uris":["migrate-s3-bucket.apps.vsphere.starkandwayne.com"],"version":"e2a0f59c-4e5f-403d-a563-bd9725e7072a"}'
